.app-container{
    height: 100vh;
    padding: 20px 0px 0px 70px;
}

.images-container{
    /* margin-left: 0px; */
    
}

.app-container{
    background-color: #130a26;

}
.image{
    overflow: hidden;
    margin: 20px;
    color: #ffffff;
    background-color: rgb(37, 30, 53);
    border-radius: 5px;
    max-width: 250px;
}

.episode-image{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.image .episode-image{  
    transition: 0.5s all ease-in-out;
}

.image:hover .episode-image{  
    transform: scale(1.1);
    cursor: pointer;
}

.image:hover{  
    background-image: linear-gradient(to bottom right, #4d1596 70%, #8a30f0 50%);
}

.image-container:hover .image {
    transform: translateX(-25%);
 }

.heading{
    text-align: left;
    font-weight: bold;
    margin: 10px 10px 15px 10px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

  .main-heading{
      color: #ffffff;
  }


  .swiper-slide-prev::before {
      background-color: orange;
      background-image: url("https://res.cloudinary.com/dfxicv9iv/image/upload/v1634476903/white-arrow-png-41944_jfdhsb.png");
  }
